*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-weight: 500;
  background-color: #16142a;
  font-size: 15px;
  color: #fff;
}
.services {
  background: #387ed1;
}
.heading-primary {
  font-size: 30px;
}
p {
  line-height: 1.8;
  margin: 0 0 1rem; color: #d0d0d0;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: #fff;
}
button,
button:hover,
button:focus,
button:active {
  text-decoration: none;
  outline: none;
}
.padding {
  padding: 60px 0;
  position: relative;
}
/*------------ PRELOADER --------*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
}
.no-js #loader-wrapper {
  display: none;
}
.my-story a:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
  transform: scale3d(1.2, 1.2, 1.2);
}
.my-story a img {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.my-story .third {
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -110.5px;
}
.my-story .second {
  float: right;
  display: inline-block;
  position: relative;
}
.my-story {
  float: left;
  width: 100%;
  padding-bottom: 100px;
  position: relative;
  margin-top: 50px;
}
.my-story a:hover {
  z-index: 2;
}
.my-story .first {
  display: inline-block;
  float: left;
  position: relative;
}
/*------ Scroll to Top------- */
#scroll-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 10px;
  display: none;
  z-index: 99;
  background: linear-gradient(135deg, #572c7c 0%, #572c7c 50%, #a034fa 100%);
  color: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
}
#scroll-to-top i {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
}
#scroll-to-top:hover {
  transform: scale(1.2);
}
.navbar {
  border: 0;
  z-index: 99;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  
}
.navbar .icon-bar {
  color: #fff;
  font-size: 15px;
}
.navbar .navbar-nav .active {
  color: #9633e9  !important;
}
.navbar-collapse .navbar-nav .nav-link {
  text-align: center;
  padding: 10px 0;
  margin: 0 0 0 25px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
#demo{    border-radius: 30px;    overflow: hidden;}
.nav-scroll {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);    background: #2a264c;
}
.in_nav{ background: #2a264c;}
.nav-scroll .navbar-nav .nav-link .active {
  color: #f8c44f !important;
}
.ps {
  padding: 70px 0
}
/*------ width < 991px ------*/
@media (max-width: 991px) {
.navbar { top:0 ; position: fixed;   transform: inherit;    background: #2a264c;}
.top_button {
    position: absolute;
    right: 60px;
    top: 12px;
}


}

.w100 {
  width: 100%;
}
.fs26 {
  font-size: 26px;
}
.horizontal {
  -webkit-animation: horizontal 2s ease infinite;
  animation: horizontal 2s ease infinite;
}
@-webkit-keyframes horizontal {
0% {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0)
}
6% {
  -webkit-transform: translate(5px, 0);
  transform: translate(5px, 0)
}
12% {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0)
}
18% {
  -webkit-transform: translate(5px, 0);
  transform: translate(5px, 0)
}
24% {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0)
}
30% {
  -webkit-transform: translate(5px, 0);
  transform: translate(5px, 0)
}
100%,
36% {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0)
}
}
.line li a:hover:before {
  width: 100%;
}
.line li a:hover:after,
.line li a.active:after {
  width: 100%;
}
.line li a:hover {
  color: #fff;
}
.btn_man,
.btn_man:focus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.3);
    background: linear-gradient(135deg, #572c7c 0%, #572c7c 50%, #a034fa 100%);
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    position: relative;padding: 10px 20px;cursor: pointer;

}
hr {

    border-top: 1px solid rgb(255 255 255 / 10%);
}
.btn_man:hover {
  color: #fff;

}
.border_btn{    border: 1px solid #8632cd;
    padding: 10px;
    border-radius: 8px;}

#start {
    clear: both;
    width: 100px;
    height: 100px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    border: 3px solid #fff;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    position: relative;
}   
#start .fasi img {
    width: 100%;
} 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.uploader label {
    clear: both;
    width: 25px;
    height: 25px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background: #9233e1;
    border-radius: 100%;
    position: absolute;
    right: 7px;
    top: 0;
    z-index: 2;
}
.uploader{    position: relative;    display: inline-block;}




/*------ width < 991px ------*/
@media (max-width: 991px) {
.line li a:hover:before {
  width: 20%;
}
.line li a:hover:after {
  width: 20%;
}
}
#home {
  position: relative;
  padding-top: 90px;
}
#home h1 {
  position: absolute;
  width: 80%;
  text-align: center;
  top: 40%;
  color: #fff;
  font-size: 68px;
  left: 10%;
  font-weight: 700;
}
#home .carousel-item img {
  width: 100%
}

 
.home-content h1 {
  font-size: 6rem;
  font-weight: 900;
  color: #fff;
}
@keyframes rotateMe {
from {
  transform: rotate(0deg) scale(1);
}
to {
  transform: rotate(360deg);
}
}
@-webkit-keyframes rotateMe {
from {
  transform: rotate(0deg) scale(1);
}
to {
  transform: rotate(360deg);
}
}
@-moz-keyframes rotateMe {
from {
  transform: rotate(0deg) scale(1);
}
to {
  transform: rotate(360deg);
}
}
@-o-keyframes rotateMe {
from {
  transform: rotate(0deg) scale(1);
}
to {
  transform: rotate(360deg);
}
}
@keyframes rotateMe {
from {
  transform: rotate(0deg) scale(1);
}
to {
  transform: rotate(360deg);
}
}
@-webkit-keyframes ScaleMe {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.15);
}
100% {
  transform: scale(1);
}
}
@-moz-keyframes ScaleMe {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.15);
}
100% {
  transform: scale(1);
}
}
@-o-keyframes ScaleMe {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.15);
}
100% {
  transform: scale(1);
}
}
@keyframes ScaleMe {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.15);
}
100% {
  transform: scale(1);
}
}
.tri-pattern,
.circles,
.circles-two {
  -webkit-animation-name: rotateMe;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotateMe;
  -moz-animation-duration: 25s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotateMe;
  -ms-animation-duration: 25s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: rotateMe;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.dotted-pattern,
.history-block .image-box:before,
.featured-section-four .image-box .image:nth-child(3):before {
  -webkit-animation-name: ScaleMe;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: ScaleMe;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: ScaleMe;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: ScaleMe;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circles .c-1,
.circles-two .c-1 {
  -webkit-animation-name: ScaleMe;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: ScaleMe;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: ScaleMe;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: ScaleMe;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circles-two .c-2 {
  -webkit-animation-name: ScaleMe;
  -webkit-animation-delay: 3ms;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: ScaleMe;
  -moz-animation-delay: 3s;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: ScaleMe;
  -ms-animation-delay: 3s;
  -ms-animation-duration: 3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: ScaleMe;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.dotted-pattern-2 {
  position: absolute;
  width: 339px;
  height: 339px;
  display: block;
  background: url(../img/2.png) center center no-repeat;
}
.sec-title .hadding {
  position: relative;
  display: block;
  font-size: 35px;
  line-height: 1.30em;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0px;
}
.sec-title .hadding2 {
  position: relative;
  display: block;
  font-size: 35px;
  line-height: 1.30em;
  color: #121010;
  font-weight: 600;
  margin-bottom: 0px;
}
.sec-title {
  position: relative;
  margin-bottom: 20px;
}

.about-section .image-column .cap {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 100%;
  background: #1b1c1e;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.10);
}
.about-section .image-column .cap .txt {
  position: absolute;
  left: 0;
  top: 37%;
  width: 100%;
  padding: 0px 10px;
  font-size: 30px;
  line-height: 1.5em;
}
.about-section .image-column .image-box {
  position: relative;
  padding-left: 150px;
}
.about-section .image-column .image {
  position: relative;
  display: block;
}
.about-section .image-column .image img {
  display: block;
  width: 100%;
}
.about-section .tri-pattern-1 {
  right: 40px;
  bottom: 350px;
}
.tri-pattern-1 {
  position: absolute;
  width: 252px;
  height: 254px;
  display: block;
  background: url(../img/tri-1.png) center center no-repeat;
}
.about-section .image-column .inner {
  position: relative;
  display: block;
  padding-right: 30px;
}
.about-section .dotted-pattern-1 {
  right: -205px;
  bottom: 150px;
}
.dotted-pattern-1 {
  position: absolute;
  width: 394px;
  height: 408px;
  display: block;
  background: url(../img/11.png) center center no-repeat;
}

.bg_light{background: #1f1c39;}
.pattern-top {
  position: absolute;
  width: 100%;
  height: 90px;
  background: url(../iomg/pattern-top.png) center bottom no-repeat;
  background-size: 100% 100%;
  z-index: 5;
  bottom: 100%;
  margin-bottom: -10px;
}
.safety_section {
  position: relative;
  background: #e4e8ed;
  overflow: hidden
}
.safety_section .dotted-pattern-1 {
  right: -70px;
  top: 30px;
}
.safety_section .tri-pattern-1 {
  right: 50px;
  top: 140px;
}
.accordion .card .card-header a:before {
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 0px;
  top: 0;
  font-size: 18px;
  display: block;
}
.faq .card .card-header a {
  position: relative;
  display: block;
  font-weight: 600;
}
.faq .card .card-header a[aria-expanded="false"]:before {
  content: "\f107";
}
.faq .card .card-header a[aria-expanded="true"]:before {
  content: "\f106";
}
.faq .card-header {
 
  border: none;
  padding: 0.9rem 1.5rem 0.9rem 1.25rem;
}
.faq .card-body {
  padding-top: 0px;
}
.faq .card {
    margin-bottom: 10px;
    border: 1px solid rgb(0 0 0 / 5%);
    border-radius: 0.8rem;
    overflow: hidden;
    background: #2a264c;
}
/*------ width < 768px ------*/
@media (max-width: 768px) {
.home-content {
  margin-top: 20px;
  text-align: center;
}
.home-content h1 {
  margin-top: 20px;
  font-size: 5rem;
}
}
ul.list-items li {
  margin-bottom: 10px;
}
.copyright {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
  padding: 15px;
  margin-top: 50px;
}
.copyright a {
  color: #fff;
}
.light_bg {
  background: #fafafa;
}
.footer {
  background: #29254a;

  padding: 80px 0 0;
  font-weight: 400;
}
.footer .footer_address ul li {
  padding: 6px 0;
  display: flex;
  align-items: center;
}
.footer .footer_address ul i {
  padding-right: 7px;
  margin: 5px 0 auto;
  font-size: 15px;
}
.footer .heading-primary {
  color: #fff;
}
.footet .navbar-brand .logo {
  width: 100%;
  height: 100%;
}
.footer .social-links {
  margin: 10px 0 0;
}
.footer .social-links ul li {
  display: inline-block;
  padding: 0;
}
.footer .social-links ul li a {
  color: #ffffff;
  font-size: 1.5rem;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  display: inline-block;
  margin: 0 12px 0 0;
}
.nav_link li {
  margin-bottom: 7px;
}
.footer li a {
  color: #e1e1e1;
  font-size: 14px;
  font-weight: 400;
}
.footer li a:hover {
  color: #fff;
}
.footer h4 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.carousel-indicators li{    cursor: pointer;}
.white_box {
    background: #29254a;
    padding: 30px;
    border-radius: 15px;
   
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
}
.w100{width: 100%;    display: block;}
.in_padding{padding: 130px 0 100px;}

.form-control{display:block;width:100%;padding:.6rem .75rem;font-size:1rem;line-height:1.5;color:#fff;background-color:transparent;
  background-clip:padding-box;border:1px solid rgb(255 255 255 / 15%);border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
.form-control::-ms-expand{background-color:transparent;border:0}
.form-control:focus{color:#fff;background-color:transparent;border-color:#80bdff;outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}
.form-control::-webkit-input-placeholder{color:rgb(255 255 255 / 52%);opacity:1}
.form-control::-moz-placeholder{color:rgb(255 255 255 / 52%);opacity:1}
.form-control:-ms-input-placeholder{color:rgb(255 255 255 / 52%);opacity:1}
.form-control::-ms-input-placeholder{color:rgb(255 255 255 / 52%);opacity:1}
.form-control::placeholder{color:rgb(255 255 255 / 52%);opacity:1}

.copy_input{ position:relative; }
.copy_input i {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 14px;
}
.footer .logo{ margin-bottom:20px }
.h50 {
   
    min-height: 250px;
}
.copy_input .form-control{ padding-right:50px }
.van-circle{    width: 120px;position: relative;}
.van-circle .van-circle__text {
    position: absolute;
    top: 35%;
    text-align: center;
    width: 100%;
    font-weight: 800;
    color: #fff;
    font-size: 20px;
}
.nav_btn li a{    border: 1px solid #aa45ff; margin-right: 20px;
    padding: 10px 15px;    color: #aa45ff;display: inline-block;
    border-radius: 8px;}
.nav_btn li a.active{      background: linear-gradient(135deg, #572c7c 0%, #572c7c 50%, #a034fa 100%);   color: #fff; }


.d_box{    position: relative;}
.d_box i {
    position: absolute;
    font-size: 30px;
    right: 45px;
    top: 25%;
    color: #9633e9;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #16142a;
    line-height: 60px;
    text-align: center;
}
.h100{height:100% }
.d_box p{line-height: 20px;
    margin-bottom: 10px;}

.delite_btn {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ee4c4c;
    font-size: 20px;
    cursor: pointer;
}
.promotion_relitive{position: relative;}

.user_img img{    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    position: relative;}
.in_nav_logo{    height: 25px;}
.game_top {
    padding: 10px 15px;
    position: absolute;
    top: 0;
    width: 100%;
}
.game_page {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 65px 15px 15px; font-size: 13px;
}
.game_left {
    min-width: 370px;
    max-width: 370px;
    padding: 10px;
    background: #2a264c;
    border-radius: 10px;
}
.user_w{width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
    min-width: 30px;
    margin-right: 10px;}
.game_page .table td, .game_page .table th {
    padding: .5rem;
    vertical-align: top;
    border-top: 0;     border-bottom: 3px solid #2a264c;vertical-align: middle;
}    
.game_page .nav_btn li a{    padding: 4px 15px;    margin: 0 6px;}
.game_left .table tr td{background: #16142a;}

.game_left .table th {
    position: sticky;
    top: 0;
    background: #2a264c;
}

.game_left_s {
    overflow: auto;
    height: 70vh;

}
::-webkit-scrollbar {
  display: none;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
::-webkit-scrollbar-thumb {
  background: #000;
}

.game_right{    width: 100%;
    padding-left: 15px;}

.top_scor{    display: flex;}
.top_scor span{padding: 0 10px;}


.game_box {
    padding: 15px;
    background: #2a264c;
    border-radius: 10px;
}
.bets-opt-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
    color: #9ea0a3;
    width: 100%;
}
.bets-opt-list .bet-opt {
    font-size: 14px;
    width: 63px;
    height: 18px;
    margin: 6px 2px 0;
    line-height: 1;
    padding: 0;
    background: #141516;
    border: none;
}
.spinner {
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
    border-radius: 22px;
    background-color: rgba(0,0,0,.7019607843137254);
    font-size: inherit;
    line-height: 1;
    padding-left: 5px;
    padding-right: 5px;
    height: 34px;
    font-size: 18px;
    display: flex;
    font-weight: 700;align-items: center;
}
.spinner .input input{
    width: 100%;
    border: 0;
    background: transparent;
    color: #fff;
    text-align: inherit;
    padding: 0;
}
.spinner button{background: #9633ea;
    border: none;
    color: #fff;
    text-align: center;
    min-width: 20px;
    height: 20px;
    line-height: 22px;
    border-radius: 100%;
    font-size: 12px;}
.first-row .bet-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.first-row {
    width: calc(100% - 20px);
    max-width: 390px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;    margin: auto;
}
.buttons-block button{
    width: 100%;
    height: 100%;
    font-size: 20px;    border-radius: 20px;
        border: 1px solid #b2f2a3;
    background-color: #28a909;
    -webkit-box-shadow: inset 0 1px 1px hsla(0,0%,100%,.5019607843137255);
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.5019607843137255);
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
        width: 100%;
    height: 100%;
    font-size: 20px;
}
.first-row .buttons-block {
    width: calc(100% - 145px);
    margin-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.first-row .buttons-block button label {

    margin-bottom: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}


.tab-content>.tab-pane {
  display: block;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.game_box_2{min-height: 200px}
.h50{ height:50% }

.login_page{ background:#16142a ;position:relative;}
.login_page2{ background: url(../img/bg_login.png) no-repeat left top; min-height: 750px;    color: #000;    background-size: 1500px;    position: relative;}
.fw700{ font-weight:600 }
.login_page p{    color: #8a8888;}
.login_page .form-control{background: #f4f4f4;   color: #000;   padding-left: 40px;}
.btn2{ background:#C10037  ;    color: #fff;}
.login_page .form-group{ position:relative; }
.login_page .input_icon{    position: absolute;
    top: 11px;
    left: 10px;
    height: 24px;}


.login_page .form-control::-moz-placeholder{color:rgb(0 0 0 / 52%);opacity:1}
.login_page .form-control:-ms-input-placeholder{color:rgb(0 0 0 / 52%);opacity:1}
.login_page .form-control::-ms-input-placeholder{color:rgb(0 0 0 / 52%);opacity:1}
.login_page .form-control::placeholder{color:rgb(0 0 0 / 52%);opacity:1}


.i_img1, .i_img2, .i_img3{position: absolute;}
.i_img1 {
    left: 23%;
    height: 400px; top: 0;
}
.i_img2 {
    right: 0;
    height: 270px;
    top: 0;
}

.i_img3 {
    left: 48%;
    height: 400px;
    top: 15%;
}

.navtabs2 a {
    background: #F2F2F2;
    color: #000;
    margin: 0 5px;
    border-radius: 8px 8px 0 0;
}
.navtabs2 a.active {
    background: #D9D9D9;
    color: #000;
   
}
.navtabs2{    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: -145px;
    position: absolute;
    top: 115px;}








@media (max-width: 768px) {
#home {
  height: auto;
}

.work_box{ margin-bottom:30px }

.navbar .btn_man{
 
    padding: 6px 14px;
}
nav .logo {
  height: 30px;
}
.sec-title .hadding {
    font-size: 25px;
}

.copyright {
    margin-top: 20px;
}
.home p {
  font-size: 20px;
  line-height: 24px;
}
.padding {
  padding: 30px 0;
}
.about-content {
  padding-top: 15px;
}
.heading-primary {
  font-size: 22px;
}
.footer h4 {
  margin-top: 25px;
}
.ps {
  padding: 45px 0;
}
.safety_section .sec-title {
  margin: 20px 0 0;
}
.in_padding {
    padding: 80px 0 40px;
}
.nav_btn li a {
    margin-right: 10px;
    padding: 5px 11px;
    color: #aa45ff;
     
}
.table thead th, .table td {
   
    white-space: nowrap;
}
.van-circle {
    width: 100px;
}
.white_box {
    padding: 20px;
}
.game_left_s {
    height: 300px;
}
.game_page {
    display: inherit;
    height: auto;
    overflow: auto;
}
.game_right {
    padding: 25px 0 20px;
}
.navbar-collapse .navbar-nav .nav-link {
    
    padding: 14px 0;
    margin: 0 ;

}
}
@media (max-width: 559px) {
#demo {
    border-radius: 10px;
}
.nav_btn{    flex-wrap: inherit;    overflow: auto;}
.nav_btn_re{    flex-wrap: inherit;    overflow: auto;}
.nav_btn li a {    white-space: nowrap;}
}